<div class="container-fluid text-center">
    <h2>About page</h2>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
        developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, aperiam, maiores, repellat ab dolor id non ipsa error molestiae pariatur quidem explicabo exercitationem dolore iure voluptates maxime autem. Doloremque, id!</p>
</div>